<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- File target for all logs -->
    <target name="logfile" xsi:type="File" 
            fileName="logs/collox-${shortdate}.log"
            layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception:format=tostring}"
            archiveFileName="logs/archive/collox-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30" />
    
    <!-- Console target for debug builds -->
    <target name="console" xsi:type="Console" 
            layout="${time} [${level:uppercase=true}] ${logger:shortName=true}: ${message} ${exception:format=tostring}" />
    
    <!-- Debug output target -->
    <target name="debugger" xsi:type="Debugger" 
            layout="${time} [${level:uppercase=true}] ${logger:shortName=true}: ${message} ${exception:format=tostring}" />
  </targets>
  
  <rules>
    <!-- All logs, including Microsoft.* logs -->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="System.*" maxLevel="Info" final="true" />
    
    <!-- Application logs -->
    <logger name="Collox.*" minlevel="Debug" writeTo="logfile,console,debugger" />
    <logger name="*" minlevel="Info" writeTo="logfile,console,debugger" />
  </rules>
</nlog>
