<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap rescap com desktop uap3">

  <Identity
    Name="2985101d-3474-44c0-ab2b-cc6459d26a7c"
    Publisher="CN=xasx"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="2985101d-3474-44c0-ab2b-cc6459d26a7c" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Collox</DisplayName>
    <PublisherDisplayName>Andreas Schöneck</PublisherDisplayName>
    <Logo>Assets\Store\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Collox"
        Description="Collox"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Store\Square150x150Logo.png"
        Square44x44Logo="Assets\Store\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Store\Wide310x150Logo.png"  Square71x71Logo="Assets\Store\SmallTile.png" Square310x310Logo="Assets\Store\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\Store\SplashScreen.png" />
        <uap:LockScreen BadgeLogo="Assets\Store\BadgeLogo.png" Notification="badgeAndTileText"/>
      </uap:VisualElements>
      <Extensions>

        <!--Specify which CLSID to activate when app notification clicked-->
        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation ToastActivatorCLSID="992a9fcb-24ae-4690-a0c9-18afd7979aec" />
        </desktop:Extension>

        <!--Register COM CLSID LocalServer32 registry key-->
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="Collox.exe" Arguments="----AppNotificationActivated:" DisplayName="App notification activator">
              <com:Class Id="992a9fcb-24ae-4690-a0c9-18afd7979aec" DisplayName="App notification activator"/>
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>

      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <uap3:Capability Name="userNotificationListener"/>
    <DeviceCapability Name="gazeInput"/>
    
  </Capabilities>
</Package>
